.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__form {
    min-width: 300px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-radius: 6px;
    background-color: var(--color-dark-primary);
    padding: 4px 10px;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }
  &__input {
    background-color: var(--color-dark-primary);
    color: var(--color-title);
    border: none;
    outline: none;
    &::placeholder {
      color: var(--color-subtitle);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--color-subtitle);
    transition: color 0.5s;

    &-icon {
      display: flex;
      align-items: center;
      //color: var(--color-accent-secondary);
    }

    &-title {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &-size {
      position: absolute;
      width: 17px;
      height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: -5px;
      font-size: 1rem;
      border-radius: 50%;
      background-color: var(--color-accent-secondary);
      color: var(--color-title);
    }

    &:hover {
      color: var(--color-title);
    }
  }
}

.nav_active {
  color: white;
}
