.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 11;
  background-color: var(--color-dark-secondary);
  transition: background-color 1s ease-out;

  &.open {
    background-color: black;
  }

  &__menu {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.logo {
  z-index: 11;
}

.burger {
  display: none;
  background: transparent;
  border: none;
  color: var(--color-accent-primary);
  z-index: 11;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
