.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 25px;
  border-radius: 6px;
  background-color: var(--color-dark-primary);
  @media screen and (max-width: 768px) {
    background-color: unset;
  }
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.aside__title {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.aside__link {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.sub__link {
  font-size: 1.2rem;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


.active {
  color: var(--color-accent-secondary);
  transition: color 0.5s;
}