.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 50vh;
}

.link__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
  font-size: 1.7rem;
}

.link {
  color: var(--color-accent-primary);
  margin-left: 5px;
}
