@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');

:root {
  --color-dark-primary: #191919;
  --color-overlay: rgba(0, 0, 0, 0.9);
  --color-dark-secondary: #212123;
  --color-title: #f6f6f7;
  --color-subtitle: #b8b8b8;
  --color-accent-primary: #6c3eb8;
  --color-accent-secondary: #8b57c6;
  --color-text-primary: #576067;
  --color-text-secondary: #616e74;
  --color-error: red;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-size: 1.4rem;
  color: var(--color-title);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-dark-secondary);
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.container {
  max-width: 1305px;
  padding: 0 15px;
  margin: 0 auto;
}

.error__message {
  color: red;
}

.section {
  padding: 25px;
  border-radius: 6px;
  background-color: var(--color-dark-primary);
  @media screen and (max-width: 520px) {
    padding: 20px 10px;
  }
}

.loader__wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-accent-primary);
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;

  &:not(:disabled):hover {
    color: var(--color-accent-primary);
    background-color: white;
    transition:
      color,
      background-color 0.7s ease-out;
  }
  &:disabled {
    background-color: var(--color-text-secondary);
  }
}
