.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__link {
  color: var(--color-accent-primary);
}

.footer__logo {
  @media screen and (max-width: 520px) {
    display: none;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  column-gap: 10px;
  @media screen and (max-width: 520px) {
    column-gap: 5px;
  }
}

.footer__social-link:hover {
  transition: color .5s ease-out;
  color: var(--color-accent-primary);
}

