@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Roboto&display=swap');

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
